apiclient==1.0.3
appdirs==1.4.0
boto==2.45.0
boto3==1.4.3
botocore==1.4.93
cffi==1.9.1
click==6.7
config==0.3.9
coverage==4.3.4
cryptography==1.7.1
docutils==0.13.1
enum34==1.1.6
Flask==0.12
futures==3.0.5
google-api-python-client==1.6.1
httplib2==0.19.0
idna==2.2
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.4
jmespath==0.9.0
libmagic==1.0
logger==1.4
MarkupSafe==0.23
oauth2client==4.0.0
packaging==16.8
py==1.4.32
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.17
pyOpenSSL==16.2.0
pyparsing==2.1.10
pytest==3.0.6
pytest-cov==2.4.0
python-dateutil==2.6.0
python-magic==0.4.12
redis==2.10.5
requests==2.12.4
rsa==3.4.2
s3transfer==0.1.10
six==1.10.0
uritemplate==3.0.0
urllib3==1.19.1
Werkzeug==0.11.15
